<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="pod-commons"
             value="https://sportscrm.pkgs.visualstudio.com/75d8e0cd-c6f9-4c3f-a2c8-f4438b0aece4/_packaging/pod-commons/nuget/v3/index.json"/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
    </packageSources>
</configuration>